@model DragonSushiSystem.Models.Funcionario

@{
    ViewBag.Title = "Perfil";
}

<section class="perfil-section">
    <div class="perfil">
       <span class="perfil-nome">@Html.DisplayFor(model => model.FuncionarioNome)</span>
        <div class="perfil-links">
            <a href="@Url.Action("EditarFuncionario", "ViewModelFuncionario")">
                <div class="detalhes-item">
                    <svg width="36" height="36" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23 23C25.2875 23 27.4813 22.0913 29.0988 20.4738C30.7163 18.8563 31.625 16.6625 31.625 14.375C31.625 12.0875 30.7163 9.89371 29.0988 8.2762C27.4813 6.6587 25.2875 5.75 23 5.75C20.7125 5.75 18.5187 6.6587 16.9012 8.2762C15.2837 9.89371 14.375 12.0875 14.375 14.375C14.375 16.6625 15.2837 18.8563 16.9012 20.4738C18.5187 22.0913 20.7125 23 23 23ZM28.75 14.375C28.75 15.9 28.1442 17.3625 27.0659 18.4409C25.9875 19.5192 24.525 20.125 23 20.125C21.475 20.125 20.0125 19.5192 18.9341 18.4409C17.8558 17.3625 17.25 15.9 17.25 14.375C17.25 12.85 17.8558 11.3875 18.9341 10.3091C20.0125 9.2308 21.475 8.625 23 8.625C24.525 8.625 25.9875 9.2308 27.0659 10.3091C28.1442 11.3875 28.75 12.85 28.75 14.375ZM40.25 37.375C40.25 40.25 37.375 40.25 37.375 40.25H8.625C8.625 40.25 5.75 40.25 5.75 37.375C5.75 34.5 8.625 25.875 23 25.875C37.375 25.875 40.25 34.5 40.25 37.375ZM37.375 37.3635C37.3721 36.6562 36.9323 34.5287 34.983 32.5795C33.1085 30.705 29.5809 28.75 23 28.75C16.4163 28.75 12.8915 30.705 11.017 32.5795C9.06775 34.5287 8.63075 36.6562 8.625 37.3635H37.375Z" fill="#777777" />
                    </svg>
                    <p>Detalhes</p>
                </div>
            </a>
            <a href="@Url.Action("Seguranca", "Funcionario")">
                <div class="seguranca-item">
                    <svg width="36" height="36" viewBox="8 7 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M41.48 28.0597H39.04V23.1797C39.04 18.4217 35.258 14.6397 30.5 14.6397C25.742 14.6397 21.96 18.4217 21.96 23.1797V28.0597H19.52V23.1797C19.52 17.0797 24.4 12.1997 30.5 12.1997C36.6 12.1997 41.48 17.0797 41.48 23.1797V28.0597Z" fill="#777777" />
                        <path d="M40.26 48.7998H20.74C18.666 48.7998 17.08 47.2138 17.08 45.1398V30.4998C17.08 28.4258 18.666 26.8398 20.74 26.8398H40.26C42.334 26.8398 43.92 28.4258 43.92 30.4998V45.1398C43.92 47.2138 42.334 48.7998 40.26 48.7998ZM20.74 29.2798C20.008 29.2798 19.52 29.7678 19.52 30.4998V45.1398C19.52 45.8718 20.008 46.3598 20.74 46.3598H40.26C40.992 46.3598 41.48 45.8718 41.48 45.1398V30.4998C41.48 29.7678 40.992 29.2798 40.26 29.2798H20.74Z" fill="#777777" />
                        <path d="M30.5001 36.6002C31.8476 36.6002 32.9401 35.5078 32.9401 34.1602C32.9401 32.8126 31.8476 31.7202 30.5001 31.7202C29.1525 31.7202 28.0601 32.8126 28.0601 34.1602C28.0601 35.5078 29.1525 36.6002 30.5001 36.6002Z" fill="#777777" />
                        <path d="M31.11 34.1602H29.89L28.67 41.4802H32.33L31.11 34.1602Z" fill="#777777" />
                    </svg>
                    <p>Segurança</p>
                </div>
            </a>
            <a href="@Url.Action("Login", "Funcionario")">
                <div class="sair-item">
                    <svg width="36" height="36" viewBox="0 -5 36 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.75 34.6875H20.25C20.8466 34.6869 21.4185 34.4431 21.8403 34.0095C22.2622 33.576 22.4994 32.9881 22.5 32.375V28.9062H20.25V32.375H6.75V4.625H20.25V8.09375H22.5V4.625C22.4994 4.01187 22.2622 3.42404 21.8403 2.99049C21.4185 2.55695 20.8466 2.31311 20.25 2.3125H6.75C6.15345 2.31311 5.5815 2.55695 5.15967 2.99049C4.73784 3.42404 4.5006 4.01187 4.5 4.625V32.375C4.5006 32.9881 4.73784 33.576 5.15967 34.0095C5.5815 34.4431 6.15345 34.6869 6.75 34.6875Z" fill="#777777" />
                        <path d="M23.1593 23.8026L27.1935 19.6562H11.25V17.3438H27.1935L23.1593 13.1974L24.75 11.5625L31.5 18.5L24.75 25.4375L23.1593 23.8026Z" fill="#777777" />
                    </svg>
                    <p>Sair</p>
                </div>
            </a>
        </div>
    </div>
</section>